<h3>add task</h3>

<div>

  <label for="task">Task
    <input type="text" placeholder="Enter task" id="task">
  </label>

  <label for="task">Date Time
    <input type="date">
  </label>
  <button type="submit">Submit</button>


</div>

